@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .carreravideocontainer {

        &__video {
            width: 525px;
            height: 293px;
            box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.484);
        }
    }
}