@media only screen and (min-width: 1400px) {
    .carreravideocontainer {

        &__video {
            width: 540px;
            height: 295px;
            box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.484);
        }
    }
}